.app {
    display: grid;
    justify-content: center;

    .main-container {
        display: grid;
        gap: 42px;
    }

    .search-bar-container {
        display: grid;
        justify-content: center;
    }

    .main-logo {
        display: grid;
        justify-content: center;
        img {
            width: 90px;
            height: 90px;
        }
    
    .results-container {
                display: grid;
        justify-content: center;
    }
}
}

